<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tumblr blog archiver</title>
    <style media="screen">
      .error {
        background-color: #ee0000;
        color: white;
      }
      .success {
        background-color: #009900;
        color: white;
      }
      .warning {
        background-color: #ddcc00;
        color: white;
      }
      .info {
        background-color: #5599cc;
        color: white;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
