{% extends "blog/base.html" %}

{% block content %}
  <h1>Tumblr blog archiver</h1>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="" value="Get blog info">
  </form>
  <ul>
    {% for blog in blogs %}
      <li><a href="{% url 'blog-detail' blog.name %}">{{ blog.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
